html, body {
    margin: 0;
    box-sizing: border-box;
    padding: 1vh;
    font-family: Manrope, serif;
    font-weight: bold;
    min-height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 1.5fr 3fr 3fr;
    background-color: #e1e1e1;
}

* {
    gap: 1rem;
}

.header-page {
    grid-template-columns: 1fr;
    background-image: linear-gradient(to right, #4747d3, #b40bb4);
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 1vh;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
}

.nav-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left-nav-item {
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    color: black;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    align-self: center;
}

.middle-nav-item {
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    color: black;
    display: flex;
    justify-content: center;
}

.right-nav-item {
    background-color: #37ab37;
    border-radius: 1vh;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
}

.footer-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.first-left-footer {
    background-color: #4747d3;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    color: white;
}

.footer-text-size {
    font-size: 2.5vh;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.7;
    align-self: center;
}

.first-middle-footer {
    background-color: white;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    color: black;
}

.first-right-footer {
    background-color: white;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    color: black;
    display: flex;
    justify-content: center;
}

.second-left-footer {
    background-color: white;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    color: black;
}

.second-middle-footer {
    background-color: white;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    display: flex;
}

.second-middle-footer img {
    margin: auto;
    align-self: center;
    border-radius: 1vh;
    max-width: 90%;
    max-height: 90%;
}

.second-right-footer {
    background-color: #37ab37;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    box-sizing: border-box;
    padding: 2vh;
    color: white;
}
